<!DOCTYPE html>
<html lang="en">
<head>
    <!--block head ----------------------------------- -->
    {% block headnav %}
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo1.png') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/myscript.js') }}"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title>{{ title }}</title>
</head>
<body>
    <!--block body ----------------------------------- -->
    <!--*********************** HERO PAGE *************************-->
    <section class="board">
        <nav class="navigation">
            <div class="menu_box flex_center">
                <div class="menu_circle flex_center" id="btn_menu" onclick="openNav()">
                    <div class="hmb_box flex_center"><img src="{{ url_for('static', filename='img/menu.png') }}" alt="" id="menu_img"></div>
                </div>
            </div>
            <div class="nav_bar flex_row_spacebetween">
                <h1>{{ title }}</h1>
                <!-- <a href="{{ url_for('newboard') }}"><span class="flex_row_spacebetween mobile_none pointer"><div class="box_user_img"><img src="{{ url_for('static', filename='img/new.png') }}" alt=""></div>Create New Board</span></a> -->
                <!-- <span class="searchbox flex_row_spacebetween mobile_none"><div class="box_user_img"><img src="{{ url_for('static', filename='img/lupa.png') }}" alt=""></div><input class="searchinput" type="text" placeholder="Search"></span> -->
                <span class="flex_row_spacebetween"><div class="box_user_img"><img src="{{ url_for('static', filename='img/user.png') }}" alt=""></div>{{ current_user.name }}</span>
            </div>
            <div class="menu_box"></div>
        </nav>
        <div id="dropdown_menu">
            <ul>
                <a href="{{ url_for('home') }}"><li class="menu_item">Home</li></a>
                <a href="{{ url_for('newboard') }}"><li class="menu_item">New Board</li></a>
                <a href="{{ url_for('myboards') }}"><li class="menu_item">My Boards</li></a>
                <a href="{{ url_for('awards') }}"><li class="menu_item">Awards Gallery</li></a>
                <a href="{{ url_for('reports') }}"><li class="menu_item">Reports</li></a>
                <a href="{{ url_for('logout') }}"><li class="menu_item">Sign Out</li></a>
            </ul>
        </div>
         <!-- flash message -->
         {% with messages = get_flashed_messages() %}
         {% if messages %}
         {% for message in messages %}
         <div class="fm_box">
             <span class="flash_message">{{ message }}</span>
         </div>
         {% endfor %}
         {% endif %}
         {% endwith %}


        {% endblock %}
         <!--block rainbow ----------------------------------- -->
         {% block rainbow %}
         <!-- can be removed -->

        <!-- <div class="rainbow_box flex_center">
            <div class="rainbox_dimensions">
            </div>
        </div> -->
        <!-- <form action="" method="GET" id="newboardForm">
            <label for=""></label>
            <input type="text" placeholder="New Board">
            <input type="submit" value="Create" class="submit">
        </form> -->
        {% endblock %}


        <!--block main ----------------------------------- -->
        {% block main %}
        
       
        {% endblock %}

       

         <!--block dashboard ----------------------------------- -->
         {% block dashboard %} 
        
        {% endblock %}
        
        
    </section>
<script>
// _____________________dropdown menu_______________________________ 
function openNav() 
    {
        document.getElementById("dropdown_menu").style.display = "block";
        document.getElementById("menu_img").src = "{{ url_for('static', filename='img/close_menu.png') }}";
        document.getElementById("btn_menu").setAttribute("onClick", "closeNav()");
    }

    function closeNav() 
    {
        document.getElementById("dropdown_menu").style.display = "none";
        document.getElementById("menu_img").src = "{{ url_for('static', filename='img/menu.png') }}";
        document.getElementById("btn_menu").setAttribute("onClick", "openNav()");
    }

    // $('#done_task_submit').click(function(){
    //     $(this).css('background','lightgreen');
    // });

    

</script>
</body>
</html>