{% extends "applayout.html" %}

 <!--block main ----------------------------------- -->
 {% block main %}
 <!-- ***************** MAIN SECTION **************************** -->
 <section class="main no_overflow flex-wrap">
    {% for award in allAwards %}
        <div class="award_card">
            <div class="award"><img src="{{ url_for('static', filename='img/award.png') }}" alt=""></div>
            <div class="text_center">
                <span class="date">{{ awardtitle }}</span><br>
            </div>
        </div>
    {% endfor %}


    
    
   
</section>
{% endblock %}  

<!--block dashboard ----------------------------------- -->
{% block dashboard %} 
<!-- ***************** DASHBOARD **************************** -->
<div class="dashboard flex_row_spacebetween">
    <div class="column">
        <span class="name">{{ current_user.name }},</span>
        <p class="message">Welcome to your wall of fame! Expand your collection by completing your tasks.</p>
    </div>
    <div class="column tablet_none">
    </div>
</div>
{% endblock %}