{% extends "applayout.html" %}

 <!--block main ----------------------------------- -->
 {% block main %}
 <!-- ***************** MAIN SECTION **************************** -->
 <section class="main no_overflow flex-wrap">
    <div class="award_card">
        <div class="award"><img src="{{ url_for('static', filename='img/award.png') }}" alt=""></div>
        <div class="text_center">
            <span class="date">3x</span><br>
            <span class="date">RAINBOW STAR</span><br>
            <span class="date">1 DAY completed</span>
        </div>
    </div>
    <div class="award_card">
        <div class="award"><img src="{{ url_for('static', filename='img/award.png') }}" alt=""></div>
        <div class="text_center">
            <span class="date">3x</span><br>
            <span class="date">RAINBOW STAR</span><br>
            <span class="date">1 DAY completed</span>
        </div>
    </div>
    <div class="award_card">
        <div class="award"><img src="{{ url_for('static', filename='img/award.png') }}" alt=""></div>
        <div class="text_center">
            <span class="date">3x</span><br>
            <span class="date">RAINBOW STAR</span><br>
            <span class="date">1 DAY completed</span>
        </div>
    </div>
    <div class="award_card">
        <div class="award"><img src="{{ url_for('static', filename='img/award.png') }}" alt=""></div>
        <div class="text_center">
            <span class="date">3x</span><br>
            <span class="date">RAINBOW STAR</span><br>
            <span class="date">1 DAY completed</span>
        </div>
    </div>
    <div class="award_card">
        <div class="award"><img src="{{ url_for('static', filename='img/award.png') }}" alt=""></div>
        <div class="text_center">
            <span class="date">3x</span><br>
            <span class="date">RAINBOW STAR</span><br>
            <span class="date">1 DAY completed</span>
        </div>
    </div>
    <div class="award_card">
        <div class="award"><img src="{{ url_for('static', filename='img/award.png') }}" alt=""></div>
        <div class="text_center">
            <span class="date">3x</span><br>
            <span class="date">RAINBOW STAR</span><br>
            <span class="date">1 DAY completed</span>
        </div>
    </div>
    <div class="award_card">
        <div class="award"><img src="{{ url_for('static', filename='img/award.png') }}" alt=""></div>
        <div class="text_center">
            <span class="date">3x</span><br>
            <span class="date">RAINBOW STAR</span><br>
            <span class="date">1 DAY completed</span>
        </div>
    </div>
    <div class="award_card">
        <div class="award"><img src="{{ url_for('static', filename='img/award.png') }}" alt=""></div>
        <div class="text_center">
            <span class="date">3x</span><br>
            <span class="date">RAINBOW STAR</span><br>
            <span class="date">1 DAY completed</span>
        </div>
    </div>
    <div class="award_card">
        <div class="award"><img src="{{ url_for('static', filename='img/award.png') }}" alt=""></div>
        <div class="text_center">
            <span class="date">3x</span><br>
            <span class="date">RAINBOW STAR</span><br>
            <span class="date">1 DAY completed</span>
        </div>
    </div>
    <div class="award_card">
        <div class="award"><img src="{{ url_for('static', filename='img/award.png') }}" alt=""></div>
        <div class="text_center">
            <span class="date">3x</span><br>
            <span class="date">RAINBOW STAR</span><br>
            <span class="date">1 DAY completed</span>
        </div>
    </div>
    <!-- second row -->
    
    <div class="award_card">
        <div class="award"><img src="{{ url_for('static', filename='img/grey_award.png') }}" alt=""></div>
        <div class="text_center">
            <span class="date">3x</span><br>
            <span class="date">RAINBOW STAR</span><br>
            <span class="date">1 DAY completed</span>
        </div>
    </div>
    <div class="award_card">
        <div class="award"><img src="{{ url_for('static', filename='img/grey_award.png') }}" alt=""></div>
        <div class="text_center">
            <span class="date">3x</span><br>
            <span class="date">RAINBOW STAR</span><br>
            <span class="date">1 DAY completed</span>
        </div>
    </div>
    <div class="award_card">
        <div class="award"><img src="{{ url_for('static', filename='img/grey_award.png') }}" alt=""></div>
        <div class="text_center">
            <span class="date">3x</span><br>
            <span class="date">RAINBOW STAR</span><br>
            <span class="date">1 DAY completed</span>
        </div>
    </div>
    <div class="award_card">
        <div class="award"><img src="{{ url_for('static', filename='img/grey_award.png') }}" alt=""></div>
        <div class="text_center">
            <span class="date">3x</span><br>
            <span class="date">RAINBOW STAR</span><br>
            <span class="date">1 DAY completed</span>
        </div>
    </div>
    <div class="award_card">
        <div class="award"><img src="{{ url_for('static', filename='img/grey_award.png') }}" alt=""></div>
        <div class="text_center">
            <span class="date">3x</span><br>
            <span class="date">RAINBOW STAR</span><br>
            <span class="date">1 DAY completed</span>
        </div>
    </div>
    <div class="award_card">
        <div class="award"><img src="{{ url_for('static', filename='img/grey_award.png') }}" alt=""></div>
        <div class="text_center">
            <span class="date">3x</span><br>
            <span class="date">RAINBOW STAR</span><br>
            <span class="date">1 DAY completed</span>
        </div>
    </div>
    
    
   
</section>
{% endblock %}  

<!--block dashboard ----------------------------------- -->
{% block dashboard %} 
<!-- ***************** DASHBOARD **************************** -->
<div class="dashboard flex_row_spacebetween">
    <div class="column">
        <span class="name">{{ current_user.name }},</span>
        <p class="message">Welcome to your wall of fame! Expand your collection by completing your tasks.</p>
    </div>
    <div class="column tablet_none">
    </div>
</div>
{% endblock %}