{% extends "applayout.html" %}

 <!--block main ----------------------------------- -->
 {% block main %}
 <!-- ***************** MAIN SECTION **************************** -->
 <section class="main no_overflow flex-wrap flex_start">
    <form action="" method="GET" id="newboardForm">
        <label for=""></label>
        <input type="text" placeholder="New Board">
        <input type="submit" value="Create" class="submit">
    </form>

 </section> 
{% endblock %}  

<!--block dashboard ----------------------------------- -->
{% block dashboard %} 
<!-- ***************** DASHBOARD **************************** -->
<div class="dashboard flex_row_spacebetween">
    <div class="column">
        <span class="name">{{ current_user.name }},</span>
        <p class="message">Welcome to your boards!</p>
    </div>
    <div class="column tablet_none">
    </div>
</div>
{% endblock %}