{% extends "applayout.html" %}

 <!--block main ----------------------------------- -->
 {% block main %}
 <!-- ***************** MAIN SECTION **************************** -->
 <section class="main no_overflow">
    <div class="welcome">
        <h2>{{ current_user.name }},</h2>
        <h2>welcome back!</h2>
        <p>Ready to reach your goals?</p>
        <div class="rainbow_home">
            <img src="{{ url_for('static', filename='img/rainbow_bckg.png') }}" alt="">
        </div>
    </div>
    <div class="header_home_cards">
        {% for board in boards %}
        <a href="{{ url_for('board', boardid=board['id']) }}"><div class="board_card">
            <div class="flex_row_spacebetween">
                <span class="date">{{ board.author.name }} {{ board.author.surname }} </span>
                <span class="date">10_10_2020 {{ board.id }}</span>
            </div>
            <h2 class="board_header">{{ board.title }}</h2>
        </div></a>
    {% endfor %}
    </div>
    <div class="header_home_cards">
        <a href="{{ url_for('awards') }}">
            <div class="board_card">
                <div class="flex_row_spacebetween">
                    <span class="date">Your badges</span>
                </div>
                <h2 class="board_header">Award Gallery</h2>
            </div>
        </a>

        <a href="{{ url_for('reports') }}">
            <div class="board_card">
                <div class="flex_row_spacebetween">
                    <span class="date">your reports</span>
                </div>
                <h2 class="board_header">Analytics</h2>
            </div>
        </a>
    </div>
</section>
 
{% endblock %}  
