{% extends "applayout.html" %}

 <!--block main ----------------------------------- -->
 {% block main %}
 <!-- ***************** MAIN SECTION **************************** -->
 <section class="main no_overflow flex-wrap flex_start">
    {% for board in boards %}
    <a href="{{ url_for('board', boardid=board['id']) }}"><div class="board_card">
            <div class="flex_row_spacebetween">
                <span class="date">{{ board.author.name }} {{ board.author.surname }} </span>
                <span class="date">start today!</span>
            </div>
            <h2 class="board_header">{{ board.title }}</h2>
            
        </div></a>
    {% endfor %}

    {{ books}}


 </section> 
{% endblock %}  

<!--block dashboard ----------------------------------- -->
{% block dashboard %} 
<!-- ***************** DASHBOARD **************************** -->
<div class="dashboard flex_row_spacebetween">
    <div class="column">
        <span class="name">{{ current_user.name }},</span>
        <p class="message">{{ greeting }}</p>
    </div>
    <div class="column tablet_none">
    </div>
</div>
{% endblock %}