{% extends "applayout.html" %}

 <!--block main ----------------------------------- -->
 {% block main %}
 <!-- ***************** MAIN SECTION **************************** -->
 <section class="main no_overflow">

    <div class="week flex_center">
    
        <div class="day_card">
            <div class="day_graf_column"></div>
            <div class="text_center">
                <span class="date">60%</span><br>
                <span class="date">MON</span><br>
                <span class="date">{{ today }}</span>
            </div>
        </div>
       
        
        
        
    </div>
   

    
    
    
    
   
</section>
{% endblock %}  

<!--block dashboard ----------------------------------- -->
{% block dashboard %} 
<!-- ***************** DASHBOARD **************************** -->
<div class="dashboard flex_row_spacebetween">
    <div class="column">
        <span class="name">{{ current_user.name }},</span>
        <p class="message">this is your report form previous week!</p>
    </div>
    <div class="column tablet_none">
    </div>
</div>
{% endblock %}