{% extends "applayout.html" %}

 <!--block main ----------------------------------- -->
 {% block main %}
 <!-- ***************** MAIN SECTION **************************** -->
 <section class="main no_overflow">

    <div class="week flex_center">
   
    <div class="day_box">
    {% for ratio in weekratio %}
            <div class="day_card">
                <div class="day_graf_column" style="--graph_height-var:{{ 1.80*ratio }}px"></div>
                <div class="text_center">
                    <span class="date">{{ ratio }}%</span><br>
                </div>
            </div>
    {% endfor %} 
    </div>
    <div class="day_box">
        {% for day in week %}
            <div class="day_card">
                <div class="text_center">
                    <span class="date mobile_none">{{ day }}</span>
                </div>
            </div>
        {% endfor %} 
        </div>
    <div class="day_box">
    {% for whichday in dayname %}
        <div class="day_card">
            <div class="text_center">
                <span class="date">{{ whichday }}</span><br>

            </div>
        </div>
    {% endfor %} 
    </div>

        
        
    </div>
   

    
    
    
    
   
</section>
{% endblock %}  

<!--block dashboard ----------------------------------- -->
{% block dashboard %} 
<!-- ***************** DASHBOARD **************************** -->
<div class="dashboard flex_row_spacebetween">
    <div class="column">
        <span class="name">{{ current_user.name }},</span>
        <p class="message">this is your report form this week!</p>
    </div>
    <div class="column tablet_none">
    </div>
</div>
{% endblock %}