{% extends "applayout.html" %}



{% block rainbow %}
<div class="rainbow_box flex_center">
    <div class="rainbox_dimensions">
        <img src="{{ url_for('static', filename='img/rainbow.png') }}" alt="">
    </div>
</div>
{% endblock %}
 <!--block main ----------------------------------- -->
 {% block main %}
 <!-- ***************** MAIN SECTION **************************** -->
 <section class="main no_overflow flex-wrap flex_start">
    <!-- {% for board in boards %}
    <a href="{{ url_for('board', boardid=board['title']) }}"><div class="board_card">
            <div class="flex_row_spacebetween">
                <span class="date">{{ board.author.name }} {{ board.author.surname }} </span>
                <span class="date">10_10_2020 {{ board.id }}</span>
            </div>
            <h2 class="board_header">{{ board.title }}</h2>
        </div></a>
    {% endfor %} -->
    <div class="card">
        <div class="flex_row_spacebetween">
            <span class="date">Create new list</span>
        </div>
        <!-- FORM ADD CARD -->
        <form action="" class="new_card_form" method="POST">
            {{ form.hidden_tag() }}
            <!-- {{ form.header }} -->
            {{ form.header(placeholder="New Board Title",type="text" ,class="new_card_input") }}
            <!-- <input type="text" class="new_card_input"> -->
            <!-- {{ form.date }} -->
            {{ form.date(type="date" ,class="new_card_input") }}
            <!-- <input type="date" class="new_card_input"> -->
            <!-- {{ form.submit.label }} -->
            {{ form.submit(class='new_card_submit', type="submit") }}
            <!-- <input type="submit" value="Create" class="new_card_submit" > -->
        </form>

    </div>

    {% for card in cards %}
    <div class="card">
        <div class="flex_row_spacebetween">
            <span class="date">{{ card.header }}</span>
            <span class="date">{{ card.date }}/{{ card.board_id }}/{{ card.id }}</span>
        </div>
        <ul class=card_list>
            {% for task in tasks %}
                {% if task.card_id == card.id %}
                    <li class="task">
                        <!-- <input type="checkbox" class="input"> -->
                        <!-- FORM Done TASK -->
                        <!-- <form action="" class="new_task_form" method="POST" style="width:21px" id="formDone">
                            {{ formDoneTask.hidden_tag() }}
                            {{ formDoneTask.id(value=task.id, style="display:none")}}
                            {{ formDoneTask.submit3(form="formDone", class="delete_task_submit", type="submit", value="⁠✔️") }}
                        </form> -->
                        <span class="task_text">{{ task.tasktext }}</span>
                        <span class="task_text">{{ task.done }}</span>
                        <!-- FORM DELETE TASK -->
                        <form action="" class="new_task_form" method="POST" style="width:21px">
                            {{ formDeleteTask.hidden_tag() }}
                            {{ formDeleteTask.id(value=task.id, style="display:none")}}
                            {{ formDeleteTask.submit1(class="delete_task_submit", type="submit", value="–⁠") }}
                        </form>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <!-- FORM ADD TASK -->
        <form action="" class="new_task_form" method="POST">
            {{ formTask.hidden_tag() }}
            {{ formTask.card_id(value=card.id, style="display:none")}}
            <!-- <input type="number" class="new_task_input" value ="{{ card.id }}" style="display:none"> -->
            {{ formTask.tasktext(type="text" ,placeholder="",class="new_task_input") }}
            <!-- <input type="text" class="new_task_input"> -->
            {{ formTask.submit(class="new_task_submit", type="submit", value="+") }}
            <!-- <input type="submit" class="new_task_submit" value="+"> -->
        </form>
        <div class="delete_card_form_box">
            <!-- FORM DELETE CARD -->
            <form action="" class="delete_card_form" method="POST">
                {{ formDeleteCard.hidden_tag() }}
                {{ formDeleteCard.id(value=card.id, style="display:none")}}
                {{ formDeleteCard.submit2( type="submit", value="REMOVE CARD⁠", class="date delete_card_submit") }}
            </form>
        </div>
    </div>
    {% endfor %}


 </section> 
{% endblock %}  

<!--block dashboard ----------------------------------- -->
{% block dashboard %} 
<!-- ***************** DASHBOARD **************************** -->
<div class="dashboard flex_row_spacebetween">
    <div class="column">
        <span class="name">{{ current_user.name }},</span>
        <p class="message">{{ greeting }}</p>
    </div>
    <div class="column tablet_none">
    </div>
</div>
{% endblock %}